---
import { Routes } from "../../consts";
---

<div class="get-in-touch" |>
  <div class="visual-hook">
    <h2>¿Creamos un proyecto?</h2>
  </div>
  <div class="contact-with-customer">
    <p>Si tienes algún proyecto Web no dudes en contactarme.</p>
    <a href={Routes.AboutMe} class="link-button">Envíame un correo</a>
  </div>
</div>

<style>
  .get-in-touch {
    display: flex;
    padding: var(--padding-content);
    margin-bottom: 32px;

    & .visual-hook {
      flex: 1;
      font-size: 32px;
    }

    & .contact-with-customer {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
    }
  }
</style>
