---
---

<div class="small-presentation">
  <h1 class="title">Fullstack Developer</h1>
  <p>Hola, soy Saúl Antonio y me encanta el desarrollo de software.</p>
</div>

<style>
.small-presentation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: var(--padding-content);
}

.title {
  font-size: 64px;
}
</style>
