---
import BaseHead from "../components/BaseHead.astro";
import BestPractices from "./index/BestPractices.astro";
import SmallPresentation from "./index/SmallPresentation.astro";


---

<html lang="en">
	<head>
		<BaseHead title={"Extoy"} description={"Experimentando"} />
	</head>
	<body>
		<SmallPresentation />
		<BestPractices />
	</body>
</html>
