---
import Layout from "../layouts/MainLayout/Layout.astro";
import BestPractices from "./index/BestPractices.astro";
import GetInTouch from "./index/GetInTouch.astro";
import SmallPresentation from "./index/SmallPresentation.astro";
---

<Layout title="Inicio">
	<div class="home">
		<SmallPresentation />
		<BestPractices />
		<GetInTouch />
	</div>
</Layout>

<style>
	.home {
		display: flex;
		flex-direction: column;
		gap: 64px;
	}
</style>
