---
import { Routes } from "../consts";
---

<nav class="nav-menu" role="navigation">
  <ul>
    <li>
      <a href={Routes.Home}>
        <div>Inicio</div>
      </a>
    </li>
    <li>
      <a href={Routes.AboutMe}>
        <div>Sobre mí</div>
      </a>
    </li>
    <li>
      <a href={Routes.Blog}>
        <div>Blog</div>
      </a>
    </li>
  </ul>
</nav>
